body {
	background-color: orange;
	font-family: courier;
	text-align: center;
}

h2 {
	text-align: right;
	padding-right: 30px;
}

img {								/*so images scale*/
	max-width: 100%;
}





									/* START resume Styles*/

#resume h2 {
	border-bottom: 5px gray double;
	text-align: center;
}

#quals li {
	list-style-position: inside;
}
									/* START NAV Styles*/
#nav li {
	display: inline-block;
	width: 20%;
}

#nav li a{
	text-decoration: none;
	color: blue;
}

#nav li a:hover {
	color: white;
	background-color: black;
}

									/*START Portfolio page*/


.proj {
	display: inline-block;
	width: 20%;
	margin: 2%;
	padding: 2%;
	vertical-align: top;
}

@media (max-width: 800px) {
	body {
		background-color: blue;
	}

	.proj {
		display: block;
	}

	#nav li {
	display: block;
	margin: auto;
	}

}
 


@media (max-width: 960px) {
	
	body {
		background-color: green;
	}
 
	.proj {
		display: block;
		width: 90%;
	}

}
